@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Skranji&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aubrey|Baloo+Bhai&display=swap');

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayPicture {
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	img {
		transform: rotate(90deg);
		object-position: 10%;
	}
}



#Home {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	opacity: 0;
	.section1 {
		background-size: cover;
		background-position: 50%;
		.content {
			height: 100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
			.content-margin {
				@include flex-center;
				flex-direction: column;
				height: calc(100% - 110px);
				.headerName {
					display: none;
					opacity: 0;
				}
				.animateTyping {
					font-family: 'Skranji', cursive;
					font-family: 'Overpass Mono', monospace;
				}
				h1 {
					color: lightgrey;
					margin-bottom: 0px;
					font-family: 'Skranji', cursive;
					font-family: 'Overpass Mono', monospace;
				}
				h2 {
					color: lightgrey;
					font-family: 'Baloo Bhai', cursive;
					font-family: 'Aubrey', cursive;
				}
				@media (max-width: 575.98px) {
          h1 {
            font-size: 12.2vw;
            line-height: 1.05em;
          }
        }
				  
				  // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) and (max-width: 767.98px) {
          h1 {
            font-size: 13.2vw;
            line-height: 1.03em;
          }
        }
				  
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) and (max-width: 991.98px) {
          h1 {
            font-size: 13vw;
            line-height: 1em;
          }
          h2 {
            font-size: 3vw;
          }
        }
				  
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
					h1 {
					  font-size: 7.5vw;
					  line-height: 1em;
					}
					h2 {
					  font-size: 3vw;
					}
        }
			}
		}
	}

	.section2 {
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		z-index: 3;
		position: relative;
		background: #FFF;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.dp {
			width: 120px;
			height: 120px;
			margin: -50px auto 0;
			@include displayPicture;
		}
		.MediaCard {
			z-index: inherit;
			display: flex;
			margin: calc( 19vh - 60px ) 0 7.5px;
		}
		.samplePage {
			height: 100vh;
			margin-top: -70px;
			background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
		}
	}
	.section3 {
		margin-top: 60px;
		position: relative;
		z-index: 3;
		display: flex;
	}
	.Home-footer {
		z-index: 3;
		position: relative;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
    align-items: center;
		.dp {
			margin-top: 100px;
			width: 70px;
			height: 70px;
			@include displayPicture;
		}
		.line {
			height: 50px;
			width: 1px;
			background: #FFFFFF;
			margin-top: 20px;
			position: relative;
			left: -2px;
		}
		.email {
			color: #FFF;
			transition: all .2s ease-in-out;
			text-decoration: none;
			font-size: 1em;
			// &:hover {
			// 	font-size: 1.1em;
			// }
		}
		.buttons {
			display: flex;
			width: 100%;
			.buttons-left {
				display: flex;
				flex-direction: row;
				button{
					margin: 10px;
				}
				a{
					margin: 10px;
				}
			}
			p {
				color: #FFF;
				text-align: center;
			}
		}
	}
}

//desktop
@media only screen and (min-width: 600px) {
	#Home{
		.section1 {
			height: 90vh;
		}
		.section2 {
			margin: -60px 30px 0px;
			.MediaCard {
				flex-wrap: wrap;
				justify-content: space-evenly;
			}
		}
		.section3 {
			align-items: flex-start;
			justify-content: space-around;
		}
		.Home-footer {
			.email {
				margin-bottom: 20px;
			}
			.buttons {
				flex-direction: row;
				justify-content: space-between;
				.buttons-left {
					margin-bottom: 50px;
				}
				p {
					margin-right: 20px;
				}
			}
		}
	}
}


//mobile
@media only screen and (max-width: 600px) {
	#Home {
		.section1 {
			height: 80vh;
		}
		.section2 {
			margin: -60px 10px 0px;
			.MediaCard {
				flex-direction: column;
			}

		}
		.section3 {
			align-items: center;
			flex-direction: column;
		}
		.Home-footer {
			.email {
				margin-bottom: 30px;
			}
			.buttons {
				flex-direction: column;
				align-items: center;
				.buttons-left {
					margin-bottom: 30px;
				}
			}
		}
	}
}
