@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayPicture {
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	img {
		transform: rotate(90deg);
		object-position: 10%;
	}
}



#Home {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	.section1 {
		background-size: cover;
		background-position: 50%;
		opacity: .97;
		.content {
			height: 100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
			.content-margin {
				@include flex-center;
				flex-direction: column;
				height: calc(100% - 110px);
				h1 {
					color: lightgrey;
					font-size: 3.5rem;
					margin-bottom: 0px;
				}
				h2 {
					color: lightgrey;
				}
			}
		}
	}

	.section2 {
		min-height: 200vh;
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		z-index: 3;
		position: relative;
		background: #FFF;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.dp {
			width: 120px;
			height: 120px;
			margin: -50px auto 0;
			@include displayPicture;
		}
		.section2-footer {
			display: flex;
		}
	}
	.Home-footer {
		z-index: 3;
		position: relative;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
    align-items: center;
		.dp {
			margin-top: 100px;
			width: 70px;
			height: 70px;
			@include displayPicture;
		}
		.line {
			height: 50px;
			width: 1px;
			background: #FFFFFF;
			margin-top: 20px;
			position: relative;
			left: -2px;
		}
		.email {
			color: #FFF;
			transition: all .2s ease-in-out;
			text-decoration: none;
			font-size: 1em;
			// &:hover {
			// 	font-size: 1.1em;
			// }
		}
		.buttons {
			display: flex;
			width: 100%;
			.buttons-left {
				display: flex;
				flex-direction: row;
				button{
					margin: 10px;
				}
			}
			p {
				color: #FFF;
				text-align: center;
			}
		}
	}
}


//Components

#CircleIcon {
	@include flex-center;
	flex-direction: column;
	i {
		@include flex-center;
		width: 120px;
		height: 120px;
		color: #8080ff;
		background: #F9F9F9;
		box-shadow: 0 5px 15px #CCCCFF;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin: 20px;
		&:hover {
			background: rgba(168, 165, 165, 0.712);
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
			transition: 0.2s;
		}
	}
	p {
		width: 160px;
    text-align: center;
    font-size: 16px;
		line-height: 1.4;
		font-weight: 450;
	}
}


@media only screen and (min-width: 600px) {
	#Home{
		.section1 {
			height: 90vh;
		}
		.section2 {
			margin: -60px 30px 0px;
			.section2-footer {
				align-items: flex-start;
				justify-content: space-around;
			}
		}
		.Home-footer {
			.email {
				margin-bottom: 20px;
			}
			.buttons {
				flex-direction: row;
				justify-content: space-between;
				.buttons-left {
					margin-bottom: 50px;
				}
				p {
					margin-right: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#Home {
		.section1 {
			height: 80vh;
		}
		.section2 {
			margin: -60px 10px 0px;
			.section2-footer {
				align-items: center;
				flex-direction: column;
			}
		}
		.Home-footer {
			.email {
				margin-bottom: 30px;
			}
			.buttons {
				flex-direction: column;
				align-items: center;
				.buttons-left {
					margin-bottom: 30px;
				}
			}
		}
	}
}
